div(class="slider__arrow-prev slider__arrow")
    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' fill='none')
        path(d='M56.5137 9.44273C54.5566 7.51909 51.3838 7.51909 49.4262 9.44273L24.9323 33.5403C21.0212 37.3883 21.0228 43.6232 24.9357 47.4687L49.4443 71.5574C51.4018 73.4809 54.5747 73.4809 56.5322 71.5574C58.4893 69.6339 58.4893 66.5149 56.5322 64.5915L35.555 43.974C33.5979 42.0505 33.5979 38.932 35.555 37.008L56.5137 16.4087C58.4712 14.4851 58.4712 11.3663 56.5137 9.44273Z' fill='#F37548')