div(class="slider__arrow-next slider__arrow")
    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' fill='none')
        path(d='M23.4863 9.44273C25.4434 7.51909 28.6162 7.51909 30.5738 9.44273L55.0677 33.5403C58.9788 37.3883 58.9772 43.6232 55.0643 47.4687L30.5557 71.5574C28.5982 73.4809 25.4253 73.4809 23.4678 71.5574C21.5107 69.6339 21.5107 66.5149 23.4678 64.5915L44.445 43.974C46.4021 42.0505 46.4021 38.932 44.445 37.008L23.4863 16.4087C21.5288 14.4851 21.5288 11.3663 23.4863 9.44273Z' fill='#F37548')