.button-to-top 
    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 107 113', fill='none')
        g(filter='url(#filter0_dddd_25_900)')
        circle(cx='64.5', cy='42.5', r='38', fill='#706966', stroke='white', stroke-width='3')
        path(d='M43.021 50.9678C41.6597 49.6088 41.6597 47.4054 43.021 46.046L60.0747 29.0363C62.7979 26.3203 67.2103 26.3214 69.9317 29.0387L86.9791 46.0585C88.3403 47.4179 88.3403 49.6213 86.9791 50.9807C85.6178 52.3398 83.4106 52.3398 82.0493 50.9807L67.4585 36.4132C66.0973 35.0541 63.8903 35.0541 62.5288 36.4132L47.9508 50.9678C46.5895 52.3272 44.3823 52.3272 43.021 50.9678Z', fill='white')
        defs
        filter#filter0_dddd_25_900(x='0', y='0', width='107', height='113', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
            feflood(flood-opacity='0', result='BackgroundImageFix')
            fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
            feoffset(dx='-1', dy='1')
            fegaussianblur(stdDeviation='2')
            fecolormatrix(type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.23 0')
            feblend(mode='normal', in2='BackgroundImageFix', result='effect1_dropShadow_25_900')
            fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
            feoffset(dx='-4', dy='5')
            fegaussianblur(stdDeviation='3')
            fecolormatrix(type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0')
            feblend(mode='normal', in2='effect1_dropShadow_25_900', result='effect2_dropShadow_25_900')
            fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
            feoffset(dx='-8', dy='12')
            fegaussianblur(stdDeviation='4.5')
            fecolormatrix(type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0')
            feblend(mode='normal', in2='effect2_dropShadow_25_900', result='effect3_dropShadow_25_900')
            fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
            feoffset(dx='-15', dy='21')
            fegaussianblur(stdDeviation='5')
            fecolormatrix(type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.03 0')
            feblend(mode='normal', in2='effect3_dropShadow_25_900', result='effect4_dropShadow_25_900')
            feblend(mode='normal', in='SourceGraphic', in2='effect4_dropShadow_25_900', result='shape')