.sl-p
    ul.sl-p__slides-list 
        li.sl-p__slide-item_deco.sl-p__slide-item_l
            .sl-p__slide-card_deco 
                .sl-p__slide-card_deco-mask
        //- li.sl-p__slide-item
        //-     .sl-p__card Slide 1
        //-         button(style="background-color: red; cursor: pointer;") sldvnksdfvdfk
        //-         .sl-p__card-mask
        //- li.sl-p__slide-item
        //-     .sl-p__card Slide 2
        //-         button(style="background-color: red; cursor: pointer;") sldvnksdfvdfk
        //-         .sl-p__card-mask
        //- li.sl-p__slide-item
        //-     .sl-p__card Slide 3
        //-         .sl-p__card-mask
        //- li.sl-p__slide-item
        //-     .sl-p__card Slide 4
        //-         .sl-p__card-mask
        li.sl-p__slide-item_deco.sl-p__slide-item_r
            .sl-p__slide-card_deco 
                .sl-p__slide-card_deco-mask
    .sl-p__control 
        include arrow-prev
        include arrow-next