.sl-prod
    .sl-prod__big-img 
        .sl-prod__big-img_deco
        img(src="#", alt="Кофе R18")
    .sl-prod__wr-descr-preview
        .sl-prod__text-about
            header.sl-prod__header 
                h2.sl-prod__title columbia
            .sl-prod__description
                .sl-prod__taste
                    span.sl-prod__taste-title во вкусе:
                    span.sl-prod__taste-text 
                .sl-prod__aroma
                    span.sl-prod__aroma-title в аромате:
                    span.sl-prod__aroma-text 

            .sl-prod__line

            ul.sl-prod__character-list
                li.sl-prod__character-item
                    .sl-prod__prop обработка
                    .sl-prod__val 
                li.sl-prod__character-item
                    .sl-prod__prop высота
                    .sl-prod__val 
                li.sl-prod__character-item
                    .sl-prod__prop сорт
                    .sl-prod__val 
                li.sl-prod__character-item
                    .sl-prod__prop q
                    .sl-prod__val 
                li.sl-prod__character-item
                    .sl-prod__prop вес
                    .sl-prod__val 

        .sl-prod__wr-prev
            .sl-prod__wr-slides
                ul.sl-prod__slides
            include arrow-next