include ../mixines/slider-coffee-big-description
include ../variable/slider-coffee-big-description

.sl-prod
    .sl-prod__wrapper-images
        .sl-prod__wr-big-img-filter
            ul.sl-prod__filter-list
                li.sl-prod__filter-item.sl-prod__filter-reset
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66 66' fill='none')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M41.4124 22C41.4124 22 41.4152 22.0012 41.4178 22.0038L44.3195 24.9054C44.3221 24.908 44.3232 24.9108 44.3232 24.9108V24.9153C44.3232 24.9153 44.3221 24.9179 44.3194 24.9206L36.0784 33.1616L44.3194 41.4027L44.3226 41.4066L44.3232 41.4081V41.4126C44.3232 41.4126 44.3221 41.4152 44.3194 41.4179L41.4178 44.3195C41.4152 44.3221 41.4124 44.3233 41.4124 44.3233H41.4079C41.4079 44.3233 41.4053 44.3221 41.4026 44.3195L33.1616 36.0784L24.9206 44.3194C24.9179 44.3221 24.9152 44.3232 24.9152 44.3232H24.9107C24.9107 44.3232 24.9081 44.3221 24.9054 44.3194L22.0037 41.4178C22.0021 41.4164 22.0008 41.4145 22 41.4124V41.4079C22 41.4079 22.0012 41.4053 22.0038 41.4026L30.2448 33.1616L22.0038 24.9206L22.0006 24.9167L22 24.9152V24.9107C22 24.9107 22.0012 24.9081 22.0038 24.9054L24.9054 22.0037C24.908 22.0012 24.9108 22 24.9108 22H24.9153C24.9153 22 24.9179 22.0012 24.9206 22.0038L33.1616 30.2448L41.4027 22.0038C41.4053 22.0012 41.4081 22 41.4081 22H41.4124Z' fill='white')

            .sl-prod__wr-big-img
                img.sl-prod__big-img.sl-prod__big-img_visible(src="#", alt="Кофе R18")
                .sl-prod__big-img_deco.sl-prod__big-img_deco_visible
        .sl-prod__wr-descr-preview
            .sl-prod__text-about.sl-prod__text-about_visible
                header.sl-prod__header 
                    h2.sl-prod__title(data-type="title")
                .sl-prod__description
                    .sl-prod__taste
                        p 
                            span.sl-prod__taste-title вкусовой профиль:&nbsp;
                            span.sl-prod__wr-taste-text
                                span.sl-prod__taste-text(data-type="taste")

                .sl-prod__line 

                ul.sl-prod__character-list
                    li.sl-prod__character-item
                        .sl-prod__prop регион
                        .sl-prod__val(data-type="region")
                    li.sl-prod__character-item
                        .sl-prod__prop высота
                        .sl-prod__val(data-type="height")
                    li.sl-prod__character-item
                        .sl-prod__prop сорт
                        .sl-prod__val(data-type="sort")
                    li.sl-prod__character-item
                        .sl-prod__prop обработка
                        .sl-prod__val(data-type="processing")
                    li.sl-prod__character-item 
                        .sl-prod__prop q
                        .sl-prod__val(data-type="q")
                    li.sl-prod__character-item 
                        .sl-prod__prop обжарка
                        .sl-prod__val(data-type="roasting")
                    li.sl-prod__character-item 
                        .sl-prod__prop урожай
                        .sl-prod__val(data-type="harvest")
                    li.sl-prod__character-item
                        .sl-prod__prop вес
                        .sl-prod__val(data-type="weight")

            .sl-prod__wr-prev
                .sl-prod__wr-slides
                    ul.sl-prod__slides
                include arrow-next
                include arrow-prev

    +slCoffeBigDescr(dataCoffee)
    
            

                    