.sl-prod
    .sl-prod__wr-big-img
        .sl-prod__big-img_deco
        img.sl-prod__big-img.sl-prod__big-img_visible(src="#", alt="Кофе R18")
    .sl-prod__wr-descr-preview
        .sl-prod__text-about.sl-prod__text-about_visible
            header.sl-prod__header 
                h2.sl-prod__title(data-type="title") columbia
            .sl-prod__description
                .sl-prod__taste
                    .sl-prod__taste-title во вкусе:&nbsp;
                    .sl-prod__wr-taste-text
                        .sl-prod__taste-text(data-type="taste")
                .sl-prod__aroma
                    .sl-prod__aroma-title в аромате:&nbsp;
                    .sl-prod__wr-aroma-text
                        .sl-prod__aroma-text(data-type="aroma")

            .sl-prod__line

            ul.sl-prod__character-list
                li.sl-prod__character-item
                    .sl-prod__prop обработка
                    .sl-prod__val(data-type="processing")
                li.sl-prod__character-item
                    .sl-prod__prop высота
                    .sl-prod__val(data-type="height")
                li.sl-prod__character-item
                    .sl-prod__prop сорт
                    .sl-prod__val(data-type="sort")
                li.sl-prod__character-item
                    .sl-prod__prop q
                    .sl-prod__val(data-type="q")
                li.sl-prod__character-item
                    .sl-prod__prop вес
                    .sl-prod__val(data-type="weight")

        .sl-prod__wr-prev
            .sl-prod__wr-slides
                ul.sl-prod__slides
            include arrow-next