extends layout/layout

block  variable
    - let pageName = 'basket'; 

block content
    main.main.main-basket
        .basket
            .basket__content
                .basket__wr-title 
                    h1.basket__title Ваш заказ
            
            ul.modal-basket__goods-list
                li.modal-basket__goods-item(data-index='0' data-sku_title='ethiopia banko gotete' data-sku_packing='ethiopia banko gotete' data-article='ethiopia-banko-gotete' data-grinding='Эспрессо')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/filter-ethiopia-banko-gotete-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Kcy;&ocy;&fcy;&iecy; R18: &apos;Ethiopia banko gotete&apos;
                        p &Mcy;&ocy;&lcy;&ocy;&tcy;&ycy;&jcy;: &ecy;&scy;&pcy;&rcy;&iecy;&scy;&scy;&ocy;
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='1' data-sku_title='colombia excelso decaf' data-sku_packing='colombia excelso decaf' data-article='colombia-excelso-decaf')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/espresso-colombia-excelso-decaf-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Kcy;&ocy;&fcy;&iecy; R18: &apos;Colombia excelso decaf&apos;
                        p &Zcy;&iecy;&rcy;&ncy;&ocy;
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='2' data-sku_title='colombia excelso decaf' data-sku_packing='colombia excelso decaf' data-article='colombia-excelso-decaf-ground')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/espresso-colombia-excelso-ground-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Kcy;&ocy;&fcy;&iecy; R18: &apos;Colombia excelso decaf&apos;
                        p &Mcy;&ocy;&lcy;&ocy;&tcy;&ycy;&jcy;
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='3' data-sku_title='colombia andino' data-sku_packing='colombia andino' data-article='colombia-andino')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/espresso-colombia-andino-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Kcy;&ocy;&fcy;&iecy; R18: &apos;Colombia andino&apos;
                        p &Zcy;&iecy;&rcy;&ncy;&ocy;
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='4' data-sku_title='part-of-africa' data-sku_packing='part-of-africa' data-article='part-of-africa')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/big-desc-part-of-africa-1-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Scy;&iecy;&tcy; &dcy;&rcy;&icy;&pcy;-&pcy;&acy;&kcy;&iecy;&tcy;&ocy;&vcy;: &apos;&Acy;&fcy;&rcy;&icy;&kcy;&acy;&apos;
                        p &Mcy;&ocy;&lcy;&ocy;&tcy;&ycy;&jcy;
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='5' data-sku_title='Черный внутри' data-sku_packing='Черный внутри' data-article='1')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/merch-t-shirt-black-black-inside-front-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&acy; R18: &apos;&CHcy;&iecy;&rcy;&ncy;&ycy;&jcy; &vcy;&ncy;&ucy;&tcy;&rcy;&icy;&apos;
                        p
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='6' data-sku_title='Нок-бокс' data-sku_packing='Нок-бокс' data-article='3')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/accessories-nok-box-motta-105-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Ncy;&ocy;&kcy;-&bcy;&ocy;&kcy;&scy; 105 &mcy;&mcy;
                        p
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')
                li.modal-basket__goods-item(data-index='7' data-sku_title='part-of-america' data-sku_packing='part-of-america' data-article='part-of-america')
                    .modal-basket__goods-content
                    .modal-basket__goods-img
                        img(src='./img/content/big-desc-part-of-amerika-1-content.webp' alt='Фото товара')
                    .modal-basket__goods-description
                        p &Scy;&iecy;&tcy; &dcy;&rcy;&icy;&pcy;-&pcy;&acy;&kcy;&iecy;&tcy;&ocy;&vcy;: &apos;&Acy;&mcy;&iecy;&rcy;&icy;&kcy;&acy;&apos;
                        p &Mcy;&ocy;&lcy;&ocy;&tcy;&ycy;&jcy;
                    .modal-basket__goods-amount
                    .modal-basket__goods-amount-button(data-type='decrement')
                    input.modal-basket__goods-amount-num(type='text' placeholder='0')
                    .modal-basket__goods-amount-button(data-type='increment')

            