extends layout/layout

block  variable
  - let pageName = 'change-pass'; 

block content 
  main.main.main-change-pass
    .change-pass 
      .change-pass__wr-title 
        h2.change-pass__title Восстановление пароля

      .change-pass__wr-form 
        form.change-pass__form(name="change-pass")
          .change-pass__wr-input
            input.change-pass__input(type="password" name="pass" placeholder="Новый пароль") 
          .change-pass__wr-input
            input.change-pass__input(type="password" name="repeat-pass" placeholder="Введите пароль еще раз")
          .change-pass__wr-button 
            button.change-pass__button(type="button") Подтвердить
