extends layout/layout

block  variable
    - let pageName = 'er-order'; 

block content 
    main.main.main-er-order 
        .er-order 
            .er-order__icon 
                
            .er-order__text 
                p Произошла ошибка, заказ не был оформлен.
                p Пожалуйста, свяжитесь с менеджером по телефонам:
                p #[a(href="tel:+79055554018") +7 (905) 555-40-18]
                p #[a(href="tel:+70000000000") +7 (000) 000-00-00]

            .er-order__wr-button 
                a.er-order__button(href="/" title="Главная") Вернуться на главную