extends layout/layout

block  variable
    - let pageName = 'price'; 

block content
    main.main.main-price
        .price 
            .price__wr-image 
                img(src="../img/content/price-desctop-content.png", alt="цены на кофк r18")
            .price__wr-buttons 
                a(href="../files/conditions-ctm.pdf" download="price__r18" title="скачать прайс R18") Скачать