.wrapper-change-pass {
    background:
    no-repeat url(../img/roasteria-side.webp),
     no-repeat url(../img/roasteria-side.webp),
       #483D41
    ;
    background-position:
     right 0.35vw top 8vw,
      left 0.35vw top 8vw 
    ;
    background-size: 10.9vw auto, 10.9vw auto;
}

.main-change-pass {
    padding-top: 6.5vw;
    padding-bottom: 12.97vw;

    background: none;
}

.change-pass {
    width: 46.6%;
    margin: 0 auto;
    padding-top: 1.61vw;
    padding-bottom: 6.77vw;

    background: #726B68;
}

.change-pass__title {
    font-family: "SofiaSans";
    font-size: 1.25vw;
    font-weight: 700;
    text-align: center;

    color: #F1551C;
}

.change-pass__wr-form {
    margin-top: 2.45vw;
}

.change-pass__form {
    width: 56.84%;
    margin: 0 auto;
}

.change-pass__input {
    position: relative;

    width: 100%;
    padding-top: 1.20vw;
    padding-bottom: 1vw;
    padding-left: 0.78vw;

    font-family: "SofiaSans";
    font-size: 1vw;
    font-weight: 400;

    color: #FFF;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    caret-color: #fff;
}

.change-pass__input[no-input-data] {
    color: rgb(255, 124, 124);
    border-bottom-color: rgb(255, 124, 124);
}

.change-pass__input::placeholder {
    font-family: "SofiaSans";
    font-size: 1vw;
    font-weight: 400;

    color: #FFF;
}

.change-pass__pass-rules {
    display: flex;
    margin-top: 0.42vw;
    flex-direction: column;

    font-family: "SofiaSans";
    font-size: 0.63vw;
    font-weight: 400;
    text-align: center;

    color: #C1C1C1;
}

.change-pass__wr-button  {
    display: flex;
    margin-top: 1.56vw;
    justify-content: center;
}

.change-pass__button {
    padding: 0.57vw 1.56vw;

    font-family: "SofiaSans";
    font-size: 1.25vw;
    font-weight: 400;

    color: #FFF;
    background: #F1551C;
    border-radius: 1.56vw;
    border: 0.15vw solid #FFF;

    cursor: pointer;
}








@media(max-width: 1200px) {
    .wrapper-change-pass {
        background-position:
         right 0.35vw top 24vw,
          left 0.35vw top 24vw
        ;
    }
}

@media(max-width: 1200px) {
    .main-change-pass {
        padding-top: 25.8vw;
        padding-bottom: 0;
    }    
}

@media(max-width: 1200px) {
    .change-pass {
        width: 89.34%;
        padding-top: 6.67vw;
        padding-bottom: 11.73vw;
    }
}

@media(max-width: 1200px) {
    .change-pass__title {
        font-size: 4.80vw;
    }
}

@media(max-width: 1200px) {
    .change-pass__wr-form {
        margin-top: 8.53vw;
    }
}

@media(max-width: 1200px) {
    .change-pass__form {
        width: 91.7%;
    }
}

@media(max-width: 1200px) {
    .change-pass__input {
        padding-top: 3.47vw;
        padding-bottom: 3.47vw;
        padding-left: 4vw;

        font-size: 2.93vw;
    }

    .change-pass__input::placeholder {
        font-size: 2.93vw;
    }
}

@media(max-width: 1200px) {
    .change-pass__pass-rules {
        margin-top: 1.60vw;
    
        font-size: 2.67vw;
    }
}

@media(max-width: 1200px) {
    .change-pass__wr-button {
        margin-top: 11.73vw;
    }
}

@media(max-width: 1200px) {
    .change-pass__button {
        padding: 2.40vw 4.80vw;
        font-size: 4.27vw;
        border-radius: 8vw;
        border: 0;
        background: #F1551C;
        box-shadow: 31px 18px 10px 0px rgba(0, 0, 0, 0.00), 20px 12px 9px 0px rgba(0, 0, 0, 0.02), 11px 7px 8px 0px rgba(0, 0, 0, 0.08), 5px 3px 6px 0px rgba(0, 0, 0, 0.13), 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    }
    
}



