.nav {
    width: 47%;
}

ul.nav__list {
    display: flex;

    justify-content: space-between;
}

.nav__item {
    display: flex;
    height: 2.60vw;
    width: 8.75vw;

    border-radius: 1.56vw;
    border: 2px solid #FFF;

    overflow: hidden;
}

.nav__item-link {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;

    align-items: center;
    justify-content: center;
}