.nav {
    width: 47%;
}

ul.nav__list {
    display: flex;

    justify-content: space-between;
}

.nav__item {
    display: flex;
    height: 2.60vw;
    width: 8.75vw;

    border-radius: 1.56vw;
    border: 2px solid #FFF;

    overflow: hidden;
}

.nav__item-link {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;

    align-items: center;
    justify-content: center;
}

@media( max-width: 961px ) {
    .nav {
        width: fit-content;
    }
}

@media( max-width: 961px ) {
    ul.nav__list {
        gap: 2.67vw;
    }
}

@media( max-width: 961px ) {
    .nav__item {
        height: 8.80vw;
        width: 20.27vw;

        border-radius: 8vw;
        border-width: 1px;
    }
}

@media( max-width: 961px ) {
    .nav__item-link {
        font-size: 2.67vw;
    }
}
