/* HEADER START */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 7.81vw;

    border-bottom: 1px solid #fff;

    justify-content: center;

    z-index: 10;
}

.header__wr-content {
    display: flex;
    width: 85%;

    justify-content: space-between;
    align-items: center;
}

/* HEADER END */

/* ////////////////  MAIN   ///////////////// */

/* products start */
.coffee {
    position: relative;

    display: flex;
    padding-top: 2.81vw;
    padding-bottom: 2.97vw;

    background:no-repeat url(../img/roasteria-side.png), #483D41;
    background-position: right 2.08vw top 0.5vw;
    background-size: auto 70.8%;

    flex-direction: column;
    align-items: center;
}

.coffee__wr-slider-top {
    position: relative;

    width: 85%;

    z-index: 5;
}

.coffee__wr-slider-bottom {
    position: relative;

    margin-top: 10.5vw;
    width: 85%;

    z-index: 5;
}

.coffee__side-deco {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 41.5%;

    background-color: #6B6462;

    z-index: 0;
}

/* products end */


/* merch start */

.merch {
    display: flex;
    padding-top: 6vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.merch__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}

/* merch end */


/* accessories start */

.accessories {
    display: flex;
    padding-top: 4.5vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.accessories__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}

/* accessories end */

/* КОНТАКТЫ START */

.contacts {
    display: flex;
    padding-top: 5.2vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.contacts__wr-data {
    display: flex;
    width: 85%;
    margin-top: 2.76vw;

    justify-content: space-between;
}

.contacts__map {
    width: 51.67vw;
    height: 28.59vw;
}

.contacts__map img {
    height: 100%;
    width: 100%;

    box-shadow: 20px 20px 65px rgba(0, 0, 0, 0.3);

    object-fit: cover;
    object-position: center;
}

.contacts__wr-address {
    margin-top: .2vw;
}

.contacts__wr-address h3 {
    font-family: 'SofiaSans';
    font-size: 1.46vw;
    font-weight: 400;

    color: #fff;
}

.contacts__wr-address p {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;
}

.contacts__wr-address a {
    font-family: 'SofiaSans';
    font-size: 1.46vw;
    font-weight: 400;

    color: #fff;
}

.contacts__address p {
    display: flex;

    flex-direction: column;
}

.contacts__working-time {
    margin-top: 1.93vw;
}

.contacts__phone-number {
    display: flex;
    margin-top: 3.49vw;
    gap: 2.34vw;
}

.button-to-top {
    width: 4.11vw;
    height: 4.11vw;
    margin-top: 0.52vw;

    cursor: pointer;
}

/* КОНТАКТЫ END */


/* FOOTER START */

.footer {
    position: relative;

    display: flex;
    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.footer__roasteria-side {
    position: absolute;
    top: 0;
    left: 0;

    height: 79.90vw;
    width: 12.14vw;

    background: no-repeat url('../img/roasteria-side.png');
    background-position: center;
    background-size: 100% auto;

    transform: translate(4%, -87.3%);
}

.footer__wr-content {
    display: flex;
    width: 85%;
    padding-top: 11.28vw;
    padding-bottom: 0.94vw;

    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    width: 100%;

    border-top: 1px solid #fff;
}

.footer__copyright p {
    margin-top: 1.04vw;
    margin-bottom: 1.30vw;

    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 400;
    text-align: center;

    color: #FFF;
}

/* FOOTER END */