/* HEADER START */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 7.81vw;

    border-bottom: 1px solid #fff;

    justify-content: center;

    z-index: 10;
}

.header__wr-content {
    display: flex;
    width: 85%;

    justify-content: space-between;
    align-items: center;
}

/* HEADER END */

/* ////////////////  MAIN   ///////////////// */

/* products start */
.coffee {
    position: relative;

    display: flex;
    padding-top: 2.81vw;
    padding-bottom: 2.97vw;

    background:no-repeat url(../img/roasteria-side.png), #483D41;
    background-position: right 2.08vw top 0.5vw;
    background-size: auto 70.8%;

    flex-direction: column;
    align-items: center;
}

.coffee__wr-slider-top {
    position: relative;

    width: 85%;

    z-index: 5;
}

.coffee__wr-slider-bottom {
    position: relative;

    margin-top: 10.5vw;
    width: 85%;

    z-index: 5;
}

.coffee__side-deco {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 41.5%;

    background-color: #6B6462;

    z-index: 0;
}

/* products end */


/* merch start */

.merch {
    display: flex;
    padding-top: 6vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.merch__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}

/* merch end */


/* accessories start */

.accessories {
    display: flex;
    padding-top: 4.5vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.accessories__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}

/* accessories end */

/* КОНТАКТЫ START */

.contacts {
    display: flex;
    padding-top: 5.2vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.contacts__wr-data {
    display: flex;
    width: 85%;
    margin-top: 2.76vw;

    justify-content: space-between;
}

.contacts__map {
    width: 51.67vw;
    height: 28.59vw;
}

.contacts__map img {
    height: 100%;
    width: 100%;

    box-shadow: 20px 20px 65px rgba(0, 0, 0, 0.3);

    object-fit: cover;
    object-position: center;
}

.contacts__wr-address {
    margin-top: .2vw;
}

.contacts__logo-mobile {
    display: none;
}

.contacts__wr-address h3 {
    font-family: 'SofiaSans';
    font-size: 1.46vw;
    font-weight: 400;

    color: #fff;
}

.contacts__wr-address p {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;
}

.contacts__wr-address a {
    font-family: 'SofiaSans';
    font-size: 1.46vw;
    font-weight: 400;

    color: #fff;
}

.contacts__address p {
    display: flex;

    flex-direction: column;
}

.contacts__working-time {
    margin-top: 1.93vw;
}

.contacts__phone-number {
    display: flex;
    margin-top: 3.49vw;
    gap: 2.34vw;
}

.button-to-top {
    width: 4.11vw;
    height: 4.11vw;
    margin-top: 0.52vw;

    cursor: pointer;
}

.contacts__social-list {
    display: flex;
    gap: 1.61vw;
}

.contacts__social-item {
    position: relative;

    width: 2.08vw;
    height: 2.08vw;
}

.contacts__social-item-link {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

/* КОНТАКТЫ END */


/* FOOTER START */

.footer {
    position: relative;

    display: flex;
    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.footer__roasteria-side {
    position: absolute;
    top: 0;
    left: 0;

    height: 79.90vw;
    width: 12.14vw;

    background: no-repeat url('../img/roasteria-side.png');
    background-position: center;
    background-size: 100% auto;

    transform: translate(4%, -87.3%);
}

.footer__wr-content {
    display: flex;
    width: 85%;
    padding-top: 11.28vw;
    padding-bottom: 0.94vw;

    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    width: 100%;
    padding-top: 1.04vw;
    padding-bottom: 1.30vw;

    border-top: 1px solid #fff;
}

.footer__copyright p {
    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 400;
    text-align: center;

    color: #FFF;
}

/* FOOTER END */

/* HEADER */

@media( max-width: 961px ) {
    .header {
        height: auto;
        padding-bottom: 2.40vw;
        padding-top: 2.40vw;
    }
}

@media( max-width: 961px ) {
    .header__wr-content {
        gap: 1.33vw;

        flex-direction: column;
    }
}

/* ------------------------------------- */

/* COFFEE */
@media( max-width: 961px ) {
    .coffee {
        padding-top: 0;
    }
}

@media( max-width: 961px ) {
    .coffee__wr-slider-top {
        width: 100%;
    }
}

@media( max-width: 961px ) {
    .coffee__wr-slider-bottom {
        width: 100%;
    }
}

/* ------------------------------------- */

/* MERCH */

@media( max-width: 961px ) {
    .merch {
        padding-top: 14.6vw;
    }
}

/* ------------------------------------- */


/* ACCESSORIES */

@media( max-width: 961px ) {
    .accessories {
        padding-top: 14.6vw;
    }
}

/* ------------------------------------- */


/* CONTACTS */


@media( max-width: 961px ) {
    .contacts {
        padding-top: 14.6vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-data {
        width: 100%;
        margin-top: 5.2vw;

        flex-direction: column;
        align-items: center;
    }
}

@media( max-width: 961px ) {
    .contacts__map {
        width: 100%;
        height: 85.33vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address {
        position: relative;

        width: 90%;
        padding-bottom: 17.60vw;

        text-align: center;

        margin-top: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .contacts__logo-mobile {
        display: flex;
        width: 41.60vw;
        margin: 0 auto;
        padding-bottom: 2.40vw;
    
        border-bottom: 1px solid #ffffff;
    
        justify-content: center;
    }

    .contacts__logo-mobile .logo {
        width: 19.73vw;
        height: 20vw;
    }
}

@media( max-width: 961px ) {
    .contacts__address {
        margin-top: 5vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address h3 {
        font-size: 5.33vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address p {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .contacts__working-time {
        margin-top: 3.8vw;
    }
}

@media( max-width: 961px ) {
    .contacts__phone-number {
        margin-top: 7vw;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address a {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .button-to-top {
        position: absolute;
        top: 0;
        right: 0;

        width: 16vw;
        height: 16vw;
        margin: 0;
    }
}

@media( max-width: 961px ) {
    .contacts__social-list {
        margin-top: 7.5vw;
        gap: 8vw;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .contacts__social-item {
        width: 10.67vw;
        height: 10.67vw;
    }
}

/* ------------------------------------- */

/* FOOTER */

@media( max-width: 961px ) {
    .footer__roasteria-side {
        height: 111.5vw;
        width: 16.7vw;

        transform: translate(4%, -107%);
    }
}

@media( max-width: 961px ) {
    .footer__wr-content {
        display: none;
    }
}

@media( max-width: 961px ) {
    .footer__copyright {
        padding-top: 2.6vw;
        padding-bottom: 3.6vw;

        font-size: 4.27vw;
    }
}

@media( max-width: 961px ) {
    .footer__copyright p {
        font-size: 4.27vw;
    }
}