block mobileNavVariable
    -
        let mobileNav = [
                {
                    name: 'Корзина',
                    link: './basket.html',
                    title: 'basket',
                },
                {
                    name: 'О нас',
                    link: './about-us.html',
                    title: 'about-us',
                },
                {
                    name: 'Кофе',
                    link: './index.html',
                    title: 'coffee',
                },
                {
                    name: 'Мерч',
                    link: './index.html',
                    title: 'merch',
                },
                {
                    name: 'Аксессуары',
                    link: './index.html',
                    title: 'accessories',
                },
                {
                    name: 'Сервис',
                    link: './service.html',
                    title: 'service',
                },
                {
                    name: 'Контакты',
                    link: './index.html',
                    title: 'contacts',
                },
                {
                    name: 'Доставка',
                    link: './delivery.html',
                    title: 'delivery',
                }
            ] 

//- ,
//-                 {
//-                     name: 'Доставка',
//-                     link: './delivery.html',
//-                     title: 'delivery',
//-                 }