block navVariable
    -
        let nav = [
                {
                    name: 'Coffee',
                    link: '#'
                },
                {
                    name: 'Merch',
                    link: '#'
                },
                {
                    name: 'Аксессуары',
                    link: '#'
                },
                {
                    name: 'Контакты',
                    link: '#'
                }
            ]