block navVariable
    -
        let nav = [
                {
                    name: 'Кофе',
                    link: '#'
                },
                {
                    name: 'Мерч',
                    link: '#'
                },
                {
                    name: 'Аксессуары',
                    link: '#'
                },
                {
                    name: 'Контакты',
                    link: '#'
                }
            ]