block navVariable
    -
        let nav = [
                {
                    name: 'Кофе',
                    link: '#',
                    title: 'coffee',
                },
                {
                    name: 'Мерч',
                    link: '#',
                    title: 'merch',
                },
                {
                    name: 'Аксессуары',
                    link: '#',
                    title: 'accessories',
                },
                {
                    name: 'Контакты',
                    link: '#',
                    title: 'contacts',
                }
            ]