block navVariable
    -
        let nav = [
                {
                    name: 'О нас',
                    link: './about-us.html',
                    title: 'about-us',
                },
                {
                    name: 'Кофе',
                    link: './index.html',
                    title: 'coffee',
                },
                {
                    name: 'Мерч',
                    link: './index.html',
                    title: 'merch',
                },
                {
                    name: 'Аксессуары',
                    link: './index.html',
                    title: 'accessories',
                },
                {
                    name: 'Сервис',
                    link: './service.html',
                    title: 'service',
                },
                {
                    name: 'Контакты',
                    link: './index.html',
                    title: 'contacts',
                }
            ] 

            //- , не нужно вход по иконке, но пока оставляю
            //-     {
            //-         name: 'Аккаунт',
            //-         link: './account.html',
            //-         title: 'account',
            //-     }