block bigDescriptionsSliderCoffee
    - 
        let dataCoffee = [
            {
                packing: 'espresso',
                id: 'colombia-andino',
                part: 'colombia-andino',
                img1: 'big-desc-colombia-andino-1-content.webp',
                img2: 'big-desc-colombia-andino-2-content.webp',
                alt: 'colombia-andino', 
                title: 'толима',
                text: [
                    'Департамент Толима расположен в районе Анд, на юго-западе от Боготы. Этот регион имеет очень яркую историю, которая восходит к долгой истории местной цивилизации, затем к войнам за испанскую колонизацию, а недавно и к проникновению партизанской армии. В последние годы в регионе значительно улучшилась ситуация и стало безопасно путешествовать, что позволяет продолжить изучение кофе в регионе.',
                    'Каньон де лас Эрмосас является частью национального парка Лас Эрмосас, который охватывает большие территории в департаментах Толима и Валье де Каука. Каньон проходит недалеко от города Чапараль, в направлении Валье де Каука.',
                    'Кофе на склонах выращивают мелкие фермеры, которые обрабатывают ягоды до стадии сухого пергамента. Ягоды собирают вручную и пульпируют в тот же день, затем ферментируют около 18-24 часов. Далее выкладывают для сушки под солнцем на крыши, патио или крытые кровати.'
                ]
            },
            {
                packing: 'espresso',
                id: 'guatemala-blue-ayarsa',
                part: 'guatemala-blue-ayarsa',
                img1: 'big-desc-guatemala-blue-ayarza-1-content.webp',
                img2: 'big-desc-guatemala-blue-ayarza-2-content.webp',
                alt: 'guatemala-blue-ayarza',
                title: 'блю аярза',
                text: [
                    'Лагуна-де-Аярза — кратерное озеро в департаменте Санта-Роза в Гватемале, известное как Лагуна Азул (Голубое озеро), образовавшееся около 20 000 лет назад в результате извержения вулкана. Оно расположено на высоте 1 400 метров и находится всего в 30 минутах езды от Фабрики Ковойи Черри, где покупают кофе у более чем 1000 мелких производителей этого района.',
                    'Кофе обработан способом углекислотной мацерации — это термин, пришедший из винодельческой промышленности. Сам процесс происходит в несколько этапов: на первом этапе кофейные ягоды перемещают в резервуар, герметизируют его и отправляют в закрытое помещение для ферментации. Сам процесс проходит при температуре от 4 до 20°, в зависимости от пожеланий к конечному результату. Чем ниже температура ферментации, тем более сложную и комплексную кислотность мы получаем в чашке.',
                    'При более высоких температурах мы получаем более сладкую чашку.  На втором этапе в резервуар вкачивается углекислый газ, который вытесняет кислород через обратный клапан. Добавление  необходимо для того, чтобы замедлить процесс ферментации. Обработанный способом углекислотной мацерации кофе получается с оттенками спелых, сочных ягод, сладким и сливочным вкусом.'
                ]
            },
            {
                packing: 'espresso',
                id: 'honduras-intibuca',
                part: 'honduras-intibuca',
                img1: 'big-desc-honduras-otilo-garsias-1-content.webp',
                img2: 'big-desc-honduras-otilo-garsias-2-content.webp',
                alt: 'honduras-intibuca',
                title: 'гондурас интибука',
                text: [
                    'Мелкий фермер Отилио Гарсия начал свою кофейную карьеру в юном возрасте, работая сборщиком кофе на фермах в соседних общинах. К 2013 году, накопив нужную сумму, он становится владельцем плантации Эль-Дуразно в Сан-Андрес-Лемпира. Земля, на которой расположен Эль-Дуразно, находится на высоте около 1800 м, что дает очень хорошие результаты для сладких и кислых сортов кофе.',
                    'Изначально Отилио выращивал только сорта Ihcafe-90, катуаи и катимор, а в последние годы также стал высаживать новый – лемпира. В качестве теневой растительности используются широколиственные деревья, сосны и бананы. Он сохраняет растительность, чтобы заботиться о фауне района, так как охота в его окрестностях запрещена. Район Сан-Андрес, Лемпира – важный кофейный регион страны, знаменитый продуктивностью своих ферм и плотными, стабильными кофейными зернами, выращивающимися на этой земле. Супесчаные почвы с высокой концентрацией органических веществ обеспечивают идеальные условия для выращивания кофе. Здесь кофе имеет большое культурное значение и является движущей силой местной экономики.',
                    'У Отилио работает пять человек, а в сезон сбора урожая – девять. Сбор урожая длится примерно три месяца. При обработке кофейных зерен происходит палипирование в традиционной машине с деревянным бункером, затем их промывают и оставляют ферментироваться на 12 часов, чтобы затем промыть еще раз и высушить на навесах.',
                    'Продолжительность сушки зависит от погоды и может составлять от 5 до 10 дней. Жена Отилио поддерживает его на всех этапах – с момента палипирования до момента сушки. С сорсингом кофе из Гондураса Кокару помогает чемпион мира бариста 2012 года, Рауль Родас.'
                ]
            },
            {
                packing: 'espresso',
                id: 'kenya-anfdb-kibendo',
                part: 'kenya-anfdb-kibendo',
                img1: 'big-desc-kenya-anfdb-kibendo-1-content.webp',
                img2: 'big-desc-kenya-anfdb-kibendo-2-content.webp',
                alt: 'kenya-anfdb-kibendo',
                title: 'кения кибендо',
                text: [
                    'Деревья растут на высоте 1930 метром над уровнем моря в теплых климатических условиях. Они располагаются в западном регионе Кении — Рифтвалей. Это довольно большой регион, но производит всего 6% кофе от общего объёма страны. На этой территории выпадают обильные осадки — 1600-2000 мм. Деревья растут на почве красной глины совместно с вулканическими породами. В совокупности факторов произрастания, кофе будет наделен большим количеством сахаров.',
                    'Этот лот относится к фермерскому, а не кооперативному кофе. Ферма принадлежит Симеону К. Коске. Это зерно обрабатывается на станции Кибендо. Лоты, собранные с этой фермы, названы Расалас в честь одноименной звезды. Здесь выращивают кофе разновидностей SL 28, SL 34 и БАТИН. Размер кофейных зерен — АА.',
                    'Этот лот натуральной обработки. Ягоды собираются вручную. Затем их выкладывают на перфорированные столы, и они сушатся под солнцем. После этого процесса ягоды помещаются в специальные силосы, где они хранятся ещё некоторое время. Перед экспортом они подвергаются халлингу: зерно извлекается из кожуры и отшелушивается пачмент.'
                ]
            },
            {
                packing: 'espresso',
                id: 'colombia-excelso-decaf',
                part: 'colombia-excelso-decaf',
                img1: 'big-desc-colombia-excelso-decaf-1-content.webp',
                img2: 'big-desc-colombia-excelso-decaf-2-content.webp',
                alt: 'colombia-excelso-decaf',
                title: 'эксельсо декаф',
                text: [
                    'Колумбия по праву считается лидером по производству мытой арабики. Многообразие климатических зон и удачное экваториальное расположение способствует сбору урожая более двух раз в год, а кофе из Колумбии экспортируется круглогодично.',
                    'Зерна собранного колумбийского кофе сортируются на категории в соответствии с размером. «Эксельсо» немного меньше остальных, в среднем его размер варьируется от 15 до 16.',
                    'Кофейные ягоды «Эксельсо» проходят SwissWater Process — метод декофеинизации, при котором используется только горячая вода для удаления 99.9% кофеина, содержащегося в кофе. На последней стадии процесса зерна высушиваются горячим воздухом до 10-12% влажности, затем охлаждаются и дополнительно полируются. Полученная смесь отличается ярко выраженным цветом, вкусом, близким к оригинальному, а также содержанием менее 0.1% кофеина.'
                ]
            },
            {
                packing: 'espresso',
                id: 'colombia-excelso-decaf-ground',
                part: 'colombia-excelso-decaf-ground',
                img1: 'big-desc-colombia-excelso-decaf-1-content.webp',
                img2: 'big-desc-colombia-excelso-decaf-2-content.webp',
                alt: 'colombia-excelso-decaf',
                title: 'эксельсо декаф',
                text: [
                    'Колумбия по праву считается лидером по производству мытой арабики. Многообразие климатических зон и удачное экваториальное расположение способствует сбору урожая более двух раз в год, а кофе из Колумбии экспортируется круглогодично.',
                    'Зерна собранного колумбийского кофе сортируются на категории в соответствии с размером. «Эксельсо» немного меньше остальных, в среднем его размер варьируется от 15 до 16.',
                    'Кофейные ягоды «Эксельсо» проходят SwissWater Process — метод декофеинизации, при котором используется только горячая вода для удаления 99.9% кофеина, содержащегося в кофе. На последней стадии процесса зерна высушиваются горячим воздухом до 10-12% влажности, затем охлаждаются и дополнительно полируются. Полученная смесь отличается ярко выраженным цветом, вкусом, близким к оригинальному, а также содержанием менее 0.1% кофеина.'
                ]
            },
            {
                packing: 'filter',
                id: 'ethiopia-banko-gotete',
                part: 'ethiopia-banko-gotete',
                img1: 'big-desc-ethiopia-banko-gotete-1-content.webp',
                img2: 'big-desc-ethiopia-banko-gotete-2-content.webp',
                alt: 'ethiopia-banko-gotete',
                title: 'банко готете',
                text: [
                    'Станция обработки Банко Готете принадлежит Султану Легессе, отец которого был крупнейшим экспортером в Эфиопии. Султан учился в Канаде, там же женился, а потом вернулся в Эфиопию и продолжил дело своего отца, заостряя особое внимание на кофейном производстве.',
                    'Во время сбора урожая на станцию ежедневно поступает 30-40 тонн кофейных ягод от местных фермеров. Ягоду принимают из близлежащих деревень от местных фермеров, владеющих по 0,5-1 га земли. Фермеры сдают только спелую ягоду, которую собирают вручную целыми семьями. Перед обработкой кофе перебирают вручную, сортируют по качеству, затем пропускают через депульпатор, удаляющий мякоть и кожуру, и ферментируют в течение 1.5 суток. После зерна тщательно промывают водой и сушат на африканских кроватях от 8 до 12 дней, периодически перемешивая. Предэкспортная подготовка не исключает и проверку на наличие дефектов, которые в обязательном порядке удаляются.',
                    'Почва, высота произрастания, большой перепад дневных и ночных температур, обилие ручьёв вокруг создают уникальный микроклимат, в котором растут кофейные деревья. Землю удобряют каскарой, её развозят грузовики Султана по участкам фермеров между урожаями.'
                ]
            },
            {
                packing: 'filter',
                id: 'columbia-punch',
                part: 'columbia-punch',
                img1: 'big-desc-columbia-punch-1-content.webp',
                img2: 'big-desc-columbia-punch-2-content.webp',
                alt: 'columbia-punch',
                title: 'колумбия punch',
                text: [
                    'Еще в 1995 году семья Байтер, засучив рукава, с головой окунулась в сельскохозяйственную жизнь на ферме Эль-Вергель. Авокадо было их основным продуктом, но, когда цены на авокадо резко упали в 2006 году, они поняли, что пришло время что-то изменить. Так, они добавили в ассортимент несколько сортов кофе - катимор, красный и желтый катурра – так и родилась кофейная империя!',
                    'Перенесемся в 2016 год, и под небольшим руководством кофейного гуру Мигеля Хименеса они посадили специальные сорта кофе, подготовив для этого почву. Затем, в 2018 году, они погрузились в процесс натуральной обработки и различных вариаций ферментации натурального кофе.',
                    'Этот натуральный кофе проходит 12-часовой процесс ферментации, за которым следует 24-часовая анаэробная ферментация. После этого кофе отправляется на 20-дневную сушку под солнцем.'
                ]
            },
            {
                packing: 'filter',
                id: 'burundi-muranga',
                part: 'burundi-muranga',
                img1: 'big-desc-burundi-muranga-1-content.webp',
                img2: 'big-desc-burundi-muranga-2-content.webp',
                alt: 'burundi-muranga',
                title: 'муранга',
                text: [
                    'Кофе играет ключевую роль в экономике государства Бурунди, обеспечивая доход более чем 650.000 семей и являясь главным экспортным продуктом страны. По прошествию гражданской войны в 2000-х годах, правительство Бурунди увидело потенциал кофе в восстановлении разрушенной экономики.',
                    'Кофе был представлен в Бурунди в 20-х годах прошлого века в период бельгийской колонизации. Гористый ландшафт и тропический климат делают страну идеальной для выращивания кофейных деревьев. С целью создания растущего спроса Европы на кофе, правительство обязало фермеров выращивать не менее 50 деревьев, покупая урожай по очень низкой цене. Вместе с обретением независимости в 1962 году Бурунди также пережила и большие потрясения, а кофейная индустрия страны прошла этапы приватизации и национализации, что негативно сказалось на производстве.',
                    'Спустя время Бурунди сделала себе имя, получив признание в производстве исключительного кофе с уникальными вкусовыми характеристиками в мире specialty кофе. Кофейная индустрия организована вокруг станций мытой обработки (кооперативных или частных), которые расположены по всей стране. Эти станции поспособствовали переходу на specialty кофе, инвестируя в инфраструктуру обработки, улучшая качество покупаемой ими ягоды и разделяя лоты для улучшения прослеживаемости.'
                ]
            },
            {
                packing: 'drip',
                id: 'part-of-africa',
                part: 'part-of-africa',
                top: {
                    img: 'big-desc-part-of-africa-1-content.webp',
                    alt: 'part-of-africa',
                    title: 'сет "африка"',
                    set: [
                        'kenya anfdb kibendo',
                        'ethiopia banko gotete',
                        'burundi muranga'
                    ]
                },
                bottom: {
                    img: 'big-desc-part-of-africa-2-content.webp' ,
                    alt: 'part-of-africa',
                    set: [
                        {
                            title: 'kenya anfdb kibendo',
                            text: 'сливочный вкус с ароматом темных ягод, нотами черной смородины, ежевики и карамели'
                        },
                        {
                            title: 'ethiopia banko gotete',
                            text: 'цитрусы, цветы, ноты персика, лайма, красной смородины и черного чая'
                        },
                        {
                            title: 'burundi muranga',
                            text: 'ваниль, цветы, черешня, чай, шиповник'
                        },
                    ],
                }
            },
            {
                packing: 'drip',
                id: 'part-of-assorti',
                part: 'part-of-assorti',
                top: {
                    img: 'big-desc-part-of-assorti-1-content.webp',
                    alt: 'part-of-assorti',
                    title: 'сет "ассорти"',
                    set: [
                        'brasil cocatrel',
                        'colombia excelso decaf',
                        'peru cajamarca'
                    ],
                    assemble: ['В данном наборе, у вас есть возможность', 'создать свой сет из вкусов']
                },
                bottom: {
                    img: 'big-desc-part-of-assorti-2-content.webp' ,
                    alt: 'part-of-assorti',
                    set: [
                        {
                            title: 'brasil cocatrel',
                            text: 'жареные орехи, желтые фрукты и карамель'
                        },
                        {
                            title: 'colombia excelso decaf',
                            text: 'аромат выпечки и специй с нотами бородинского хлеба, темного шоколада и печеных яблок'
                        },
                        {
                            title: 'peru cajamarca',
                            text: 'карамень и желтые фрукты, ноты апельсина, шоколада, сливочной карамели и лесного ореха'
                        },
                    ],
                }
            },
            {
                packing: 'drip',
                id: 'part-of-america',
                part: 'part-of-america',
                top: {
                    img: 'big-desc-part-of-amerika-1-content.webp',
                    alt: 'part-of-amerika',
                    title: 'сет "америка"',
                    set: [
                        'columbia punch',
                        'guatemala blue ayarza',
                        'honduras otilo garsias'
                    ]
                },
                bottom: {
                    img: 'big-desc-part-of-amerika-2-content.webp' ,
                    alt: 'part-of-amerika',
                    set: [
                        {
                            title: 'columbia punch',
                            text: 'аромат зеленых яблок и черники, с нотами спелой сливы, яблок, ежевики, черники'
                        },
                        {
                            title: 'guatemala blue ayarza',
                            text: 'аромат ягод и карамели, с нотами спелого винограда, земляники и шоколада'
                        },
                        {
                            title: 'honduras otilo garsias',
                            text: 'пряности и ягоды, ноты брусники, карамели, клюквы, и черного чая'
                        },
                    ],
                }
            }
        ]
